body{
    background-size: cover;
    background-color: white;
    width:100vw;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: black;
    overflow: hidden;
    height: 100vh;
    
}
.counterner{
    background-image:  linear-gradient(to bottom right, rgb(127, 214, 255),rgb(60, 190, 241), rgb(78, 60, 241) );
    width: 100%;
    position: absolute;
    height: 150px;
    border-radius: 0px;
    left: 0vw;
    top: 0vh;
}
.logo{
    align-self: center;
    position: absolute;
    top: 3vh;
    background-color: white;
    border: 1px solid rgb( 26, 20, 78);
    left: 100px;
    width: 100px;
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    box-shadow: 3.0px 3.0px 0px rgb(26, 20, 78);
    z-index: 1;
}
.ago{
    position: absolute;
    left: 49%;
    transform: translate(-50%, -50%);
    top: 10vh;
    color: white;
    font-size: 40px;
}
.perfil{
    height: 50px;
    position: absolute;
    top:10vh;
    left: 82vw;
    text-align: center;
    width: 10vw;
}
.img-perfil{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 5vh;
    background-color: rgb(54, 43, 156);
    border-radius: 50px;
    box-shadow: 4.0px 4.0px 0px rgb(26, 20, 78);
}
.nome{
    position: absolute;
    color:white;
    top: 8vh;
    font-size: 15px;
    width:10vw;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sair{
    height: 50px;
    position: absolute;
    top:10vh;
    left: 87vw;
    text-align: center;
    width: 10vw; 
}
.porta{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 5vh;
    background-color: rgb(54, 43, 156);
    border-radius: 5px;
    box-shadow: 4.0px 4.0px 0px rgb(26, 20, 78);
    cursor: pointer;
}
.porta:hover{
    opacity: 0.8;
}
.searche{
    position: absolute;
    top: 30vh;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%); 
    border-radius: 3px;
    color: rgb(26, 20, 78);
    border: none;
    width: 35vw;
}
.pesquisa{
    border: solid 2px rgb(26, 20, 78);
    border-radius: 2px;
    color: rgb(26, 20, 78);
    width: 80%;
    height: 20px;
    box-shadow: 5.0px 5.0px 0px rgb(26, 20, 78);
    margin: 0.4rem 0;
    font-size: 15px;
    background-color: transparent;
}
.lupa{
    position: absolute;
    top: 1vh;
    left: 29.5vw;
    background-color: rgb(54, 43, 156);
    box-shadow: 4.0px 4.0px 0px rgb(26, 20, 78);
    border: none;
    width: 25px;
    cursor: pointer;
    border-radius: 2px;
    height: 25px;
}
.lupa:hover{
    opacity: 0.8;
}
.img-lupa{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.listatele{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px rgb(26, 20, 78);
    border-radius: 3px;
    box-shadow: 10.0px 10.0px 0px rgb(26, 20, 78);
}
table{
    width: 80vw;
    border: none;
}
th{
    height: 25px;
    color: rgb(26, 20, 78);
}
.nne{
    border: solid rgb(54, 43, 156) 2px;
    background-color: rgb(54, 43, 156);
    color: white;
    border-radius: 2px;
}
td{
    height: 25px;
    color: rgb(26, 20, 78);
}